@font-face {
  font-family: "Montserrat";
  src: local("MontserratRegular"),
       url("../fonts/Montserrat/MontserratRegular.woff2") format("woff2"),
       url("../fonts/Montserrat/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("MontserratMedium"),
       url("../fonts/Montserrat/MontserratMedium.woff2") format("woff2"),
       url("../fonts/Montserrat/MontserratMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("MontserratSemiBold"),
       url("../fonts/Montserrat/MontserratSemiBold.woff2") format("woff2"),
       url("../fonts/Montserrat/MontserratSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("MontserratBold"),
       url("../fonts/Montserrat/MontserratBold.woff2") format("woff2"),
       url("../fonts/Montserrat/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("MontserratSemiBold"),
       url("../fonts/Montserrat/MontserratSemiBold.woff2") format("woff2"),
       url("../fonts/Montserrat/MontserratSemiBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: local("MullerRegular"),
       url("../fonts/Muller/MullerRegular.woff2") format("woff2"),
       url("../fonts/Muller/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: local("InterRegular"),
       url("../fonts/Inter/InterRegular.woff2") format("woff2"),
       url("../fonts/Inter/InterRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-orange: #ff9900;
  --color-yellow: #ffb84d;
  --color-red: #e1670e;
  --color-light-green: #97ee3f;
  --color-white: #fff;
  --color-light-grey: #cacaca;
  --color-grey: #808080;
  --color-dark-grey: #666;
  --color-black-grey: #414141;
  --color-black: #000;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-white);
  }
.btn {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
}
.subject {
  margin: 0;
  padding: 0;  
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black);
}
.text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.link {
  display: inline-block;
  color:inherit;
  text-decoration: none;
}
.item {
  font-weight: 600;
  font-size: 18px;
}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* header */
.header {
  border-radius: 0 0 32px 32px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  background: var(--color-white);
}
.container {
  --b: 50px;
  width: calc(1770px + (var(--b) * 2));
  padding: 0 var(--b);
  margin: 0 auto;
}
.header__container {
  position: relative;
}
.header__content {
  display: flex;
  padding-top: 11px;
  padding-bottom: 12px;
}
.header__logo {
  margin-right: auto;
}
.header__nav {
  display: flex;
  align-items: center;
  width: 991px;
}
.header__list {
  display: flex;
  margin-right: auto;
}
.header__item {
  line-height: 22px;
  color: var(--color-black);
}
.header__item:not(:last-child) {
  margin-right: 85px;
}
.header__link {
  outline: transparent;
  border: transparent;
  transition: outline 0.5s ease-in-out, border 0.5s ease-in-out, color 0.3s ease-in-out;
}
.header__link:focus-visible {
  outline: 1px solid var(--color-orange);
}
.header__link:hover:not(:focus-visible) {
  border-bottom: 1px solid var(--color-orange);
}
.header__link:active:not(:focus-visible) {
  border-bottom: 1px solid var(--color-red);
  color: var(--color-red);
}
.header__btn {
  padding: 4px 4px 0 4px;
  outline: transparent;
  background-color: inherit;
  transition: outline 0.5s ease-in-out, fill .5s ease-in-out, stroke 0.5s ease-in-out;
}
.header__btn:focus-visible {
  outline: 1px solid var(--color-orange);
}
.header__btn:hover:not(:focus-visible) svg rect{
  fill: var(--color-orange);
}
.header__btn:hover:not(:focus-visible) svg path {
  stroke: var(--color-orange);
}
.search-form {
  position: absolute;
  top: -100px;
  right: 32px;  
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 16px 13px 16px 32px;
  width: 539px;
  height: 60px;
  opacity: 0;
  background: var(--color-white);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.search-form_show {
  top: 17px;
  opacity: 1;
}
.search-form__input {
  display: flex;
  flex: 1 1 auto;
  border: none;
  border-bottom: 1px solid var(--color-light-grey);

}
.search-form__input:focus-visible {
  outline: none;
}
.search-form__send {
  padding: 4px 4px 0 4px;
  border: none;
  background-color: inherit;
  outline: transparent;
}
.search-form__close {
  border: none;
  outline: transparent;
  padding: 4px 4px 0 4px;
  background-color: inherit;
  transition: outline 0.5s ease-in-out, fill 0.5s ease-in-out, stroke 0.5s ease-in-out;
}
.search-form__close:focus-visible {
 outline: 1px solid var(--color-orange);
}
.search-form__close:hover:not(:focus-visible) svg rect {
  fill: var(--color-orange);
 }
 .search-form__close:hover:not(:focus-visible) svg circle {
  stroke: var(--color-orange);
 }
 .search-form__close:active:not(:focus-visible) svg rect {
  fill: var(--color-black);
 }
 .search-form__close:active:not(:focus-visible) svg circle {
  stroke: var(--color-black);
 }
 /* hero */
 .hero {
  padding-top: 50px;
  padding-bottom: 50px;
 }
 .slider-box {
  position: relative;
  overflow: hidden;
  background-color: bisque;
 }
 .swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
 }
 .swiper-slide {
  height: 100%;
 }
 .swiper-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--color-light-grey);
 }
 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px 15px;
 }
 .slide-content {
  position: relative;
  top: 0;
  z-index: 2;
  padding: 100px 0 100px 80px;
  color: var(--color-white);
  pointer-events: none;
 }
 .hero__title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  max-width: 837px;
  font-weight: 800;
  font-size: 72px;
  line-height: 85px;
  color: var(--color-white);
}
.hero__text {
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
  max-width: 790px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
}
.hero__btn {
  min-width: 280px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: var(--color-white);
  background-color: var(--color-orange);
  pointer-events: auto;
  transition: background-color 0.5s ease-in-out;
}
.hero__btn:focus-visible {
  background-color: var(--color-yellow);
}
.hero__btn:hover:not(:focus-visible) {
  background-color: var(--color-yellow);
}
.hero__btn:active:not(:focus-visible) {
  background-color: var(--color-red);
}
/* about */
.about {
  padding-bottom: 100px;
}
.abaut-top {
  padding-bottom: 50px;
}
.about__subject {
  margin-bottom: 20px;
  color: var(--color-black);
}
.about__text {
  max-width: 1235px;
  color: var(--color-black);
}
.about-content {
  display: flex;
  min-height: 540px;
}
.about-block {
  display: flex;
  flex-direction: column;
  width: calc((100% - 24px)/2);
  min-height: 622px;
}
.about-block:not(:last-child) {
  margin-right: 32px;
}
.about-item-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  border-radius: 16px;
}
.about-img {
  width: 100%;
  height: 100%;
  background: url("../img/about/rectangle.jpg") no-repeat center center / cover;
}
.about-item-right {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 16px;
  border: 1px solid var(--color-light-grey);
  padding: 65px 0 65px 60px;
}
.about-item-right:not(:last-child) {
  margin-bottom: 32px;
}
.about-img2 {
  position: relative;
  width: 190px;
  height: 165px;
  margin-right: 47px;
}
.about-img3 {
  position: relative;
  width: 190px;
  height: 165px;
  margin-right: 47px;
}
.circle1 {
  position: relative;
  top: 27%;
}
.cube {
  position: relative;
  top: -77%;
  left: 36%;
}
.circle2 {
  position: relative;
  top: 20%;
}
.wheel {
  position: relative;
  top: -83%;
  left: 27%;
}
.about__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.5);
}
.about-title {
  margin: 0 0 12px;
  width: 452px;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: var(--color-black);
}
.about-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.about-text-left {
  max-width: 433px;
  color: var(--color-white);
}
.about-text-right {
  max-width: 450px;
  color: var(--color-black);
}
.about-link {
  display: inline-block;
  min-width: 175px;
  padding: 20px 38px;
  border: 3px solid #FF9900;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.about-link:focus-visible {
  border: 3px solid var(--color-orange);
  outline: none;
  background-color: var(--color-orange);
}
.about-link:hover:not(:focus-visible) {
  background-color: var(--color-orange);
}
.about-link:active:not(:focus-visible) {
  border: 3px solid var(--color-red);
  background-color: var(--color-red);
}
/* how */
.how {
  padding-bottom: 111px;
}
.how__subject {
  margin-bottom: 113px;
}
.how-wrap {
  position: relative;
  width: 100%;
  height: 475px;
}
.how-wrap-radio {
  display: none;
}
.how-wrap__slider {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: initial;
}
.slider1,
.slider2,
.slider3,
.slider4 {
  position: absolute;
  z-index: 0;
  width: inherit;
  height: inherit;
  opacity: 0;
}
.how-control {
  position: absolute;
  top: -15%;
}
.how-wrap__control {/*Переключатель*/
  position: relative;
  display: inline-block;
  width: 47px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
  cursor: pointer;
  transition: color 0.5s ease-in-out, outline 0.5s ease-in-out;
}
.how-wrap__control:not(:last-child) {/*расстояние между кнопками*/
  margin-right: 83px;
}
.how-wrap__control:focus-visible {
  outline: none;
  outline: 1px solid green;
  outline-offset: 3px;
}
.how-wrap__control:hover:not(:focus-visible) {
  color: var(--color-orange);
}
.how-wrap__control:active:not(:focus-visible) {
  color: var(--color-red);
}

#clause1:checked ~ .how-control > .how-wrap__control:nth-child(1),
#clause2:checked ~ .how-control > .how-wrap__control:nth-child(2),
#clause3:checked ~ .how-control > .how-wrap__control:nth-child(3),
#clause4:checked ~ .how-control > .how-wrap__control:nth-child(4) {
  color: var(--color-red);
}
#clause1:checked ~ .how-wrap__slider > .slider1,
#clause2:checked ~ .how-wrap__slider > .slider2,
#clause3:checked ~ .how-wrap__slider > .slider3,
#clause4:checked ~ .how-wrap__slider > .slider4 {
  opacity: 1;
  z-index: 1;
}
.how__content {
  display: flex;
  min-height: 460px;
}
.blog {
  display: flex;
  flex-direction: column;
}
.how__blog {
  width: calc((100% - 32px)/2);
  min-height: 460px;
}
.how__blog:not(:last-child) {
 margin-right: 32px;
}
.blog__info {
  margin-bottom: auto;
}
.blog__title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  width: 412px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
}
.blog__descr {
  margin: 0;
  padding: 0;
  width: 758px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}
.blog__button {
  display: flex;
}
.link-min {
  margin-right: 32px;
  padding: 20px 38px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  background-color: var(--color-orange);
  pointer-events: auto;
  transition: background-color 0.5s ease-in-out;
}
.link-min:focus-visible {
  outline: none;
  background-color: var(--color-yellow);
}
.link-min:hover:not(:focus-visible) {
  background-color: var(--color-yellow);
}
.link-min:active:not(:focus-visible) {
  background-color: var(--color-red);
}
.link-black {
  border: 1px solid var(--color-black);
  padding: 20px 38px;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--color-black);
  background-color: transparent;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.link-black:focus-visible {
  border: none;
  outline: none;
  color: var(--color-white);
  background-color: var(--color-dark-grey);
}
.link-black:hover:not(:focus-visible) {
  border: 1px solid var(--color-dark-grey);
  color: var(--color-white);
  background-color: var(--color-dark-grey);
}
.link-black:active:not(:focus-visible) {
  color: var(--color-white);
  background-color: var(--color-black);
}
/* faq */
.faq {
  padding-bottom: 100px;
}
.faq__subject {
  margin-bottom: 29px;
}
.faq-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.one-faq {
  position: relative;
  padding: 39px 0 39px;
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--color-light-grey);
  transition: border-color 0.5s ease-in-out;
}
.one-faq:first-child {
  border-color: var(--color-light-grey);
}
.one-faq:hover {
  border-color: var(--color-orange);
}
.faq-title {
  transition: color 0.5s ease-in-out;
}
.one-faq:hover .faq-title {
  color: var(--color-orange);
}
.faq-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
}
.one-faq svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.one-faq svg ellipse,
.one-faq:hover svg path {
  transition: fill 0.5s ease-in-out;
}
.one-faq:hover svg ellipse {
  fill: var(--color-orange);
}
.one-faq:hover svg path {
  fill: var(--color-white);
}
/* footer */
.footer {
  padding: 50px 0 44px;
  background-color: var(--color-black);
}
.footer__block {
  display: flex;
}
.footer__column {
  width: calc((100% - 24px * 2) / 3);
}
.footer__column:not(:last-child) {
  margin-right: 24px;
}
.footer__item {
  display: block;
  line-height: 36px;
  color: var(--color-light-grey);
}
.footer__logo {}
.footer__nav {
  padding: 15px 0 0;
}
.footer__list {
  margin: 0;
  padding: 0;
}
.footer__item:last-child {
  padding: 87px 0 0;
}
.footer__link {
  outline: 2px solid transparent;
  transition: outline 0.5s ease-in-out, color 0.5s ease-in-out;
}
.footer__link:focus-visible {
  outline: 2px solid var(--color-orange);
}
.footer__link:hover:not(:focus-visible) {
  color: var(--color-orange);
}
.footer__link svg path{
  margin: 0;
  padding: 0;
  transition: fill 0.5s ease-in-out;
}
.footer__link:hover:not(:focus-visible) svg path{
  fill: var(--color-orange);
}
.footer__link:active:not(:focus-visible) {
  color: var(--color-red);
}
.footer__link:active:not(:focus-visible) svg path{
  fill: var(--color-red);
}
.footer__link:not(:last-child) {
  margin-right: 20px;
}
.footer__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-light-grey);
}
.footer__input {
  margin-bottom: 25px;
  padding: 14px 0 14px 24px;
  width: 573px;
  height: 60px;
  border-radius: 16px;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light-grey);
  background-color: var(--color-black-grey);
  transition: background-color 0.5s ease-in-out;
}
.footer__email {
  margin-bottom: 25px;
  padding: 14px 0 14px 24px;
  width: 573px;
  height: 60px;
  border-radius: 16px;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light-grey);
  background-color: var(--color-black-grey);
  transition: background-color 0.5s ease-in-out;
}
.footer__area {
  margin-bottom: 29px;
  padding: 14px 24px;
  width: 573px;
  height: 150px;
  border-radius: 16px;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light-grey);
  background-color: var(--color-black-grey);
  transition: background-color 0.5s ease-in-out;
}
.footer__input:focus,
.footer__email:focus,
.footer__area:focus {
  outline: none;
  background-color: var(--color-dark-grey);
}
.footer__input:hover,
.footer__email:hover,
.footer__area:hover,
.footer__input:active,
.footer__email:active,
.footer__area:active {
  background-color: var(--color-dark-grey);
}
.footer__btn {
  margin-right: 20px;
  padding: 19px 59px;
  border: transparent;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--color-white);
  background-color: var(--color-orange);
  transition: background-color 0.5s ease-in-out;
}
.footer__btn:focus-visible {
  outline: none;
  background-color: var(--color-yellow);
}
.footer__btn:hover:not(:focus-visible) {
  background-color: var(--color-yellow);
}
.footer__btn:active:not(:focus-visible) {
  background-color: var(--color-red);
}
.footer-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.footer-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light-grey);
}
.footer-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;/*коэффициет сжатия*/
  flex-grow: 0;/*коэффициет увеличения*/
  margin-right: 5px;
  border: 1px solid var(--color-light-grey);
  /*background определяет положение самого флажка, когда checkbox будет в состоянии checked*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
/*стили в состоянии checked*/
.footer-checkbox:checked+label::before {
  border: none;
  background-image: url("../img/icons/check.svg");/*фоновая картинка, флажок*/
}
.footer__text {
  margin: 0;
  padding: 0;
  max-width: 363px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light-grey);
}
.footer__column--right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}