@media(max-width: 991px) {
  .container {
    max-width: 720px;
  }
  /* header */
  .header-logo {
    padding: 2px 0 0 15px;
  }
	.header__nav {
		padding-right: 16px;
	}
  /* hero */
  .hero__img::before {
    background-image: url(../img/hero/hero-768.png);
    top: 40px;
    right: -4px;
    width: 330px;
    height: 350px;
  }
  .blog-hero {
    padding-left: 0;
    padding-bottom: 54px;
  }
  .blog-hero__title {
    margin-bottom: 17px; 
    width: 50%;      
    font-size: 50px;
           
  }
  .blog-hero__descr {
    width: 50%;
    margin-bottom: 62px;
  }
  /* about */
  .about {
    padding: 78px 0 77px;
  }
  .about-block__img::before {
    width: 211px;
    height: 187px;
  }
  .about-block__text {
    padding-left: 240px;
  }
  .about__subtitle {
    margin-bottom: 16px;
    width: 80%;
  }
  .about__descr {
    width: 95%;
  }
  .about-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .about-box__text {
    padding: 13px 0 0;
  }
  /* teachers */
  .teachers {
    padding: 74px 0 25px;
  }
  .teachers__title {
    margin-bottom: 24px;
  }
  .teachers-box__bottom {
    padding-bottom: 24px;
  }
  /* courses */
  .courses {
    padding-bottom: 79px;
  }
  .courses-box__bottom {
    padding: 31px 24px 30px 32px;
  }
  .courses-box__descr {
    margin-bottom: -2px;
  }
  .courses-box__btn {
    padding: 20.5px 55.5px;
    min-width: 195px;
  }
}
@media(max-width: 767px) {
	.container {
    max-width: 540px;
  }
	/* header */
  .header {
    padding-bottom: 30px;
  }
	.header-logo {
    padding: 2px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
	}
	.header__nav {
    flex-direction: column;
    align-items: center;
    padding: 16px 0 0;
	}
  /* hero */
  .hero {
    padding-top: 77px;
  }
  .hero__img::before {
    display: none;
  }
  .blog-hero {
    padding-top: 0;
  }
  .about__subtitle {
    width: 100%;
  }
  .blog-hero__descr {
    width: 65%;
  }
  /* about */
  .about {
    padding-bottom: 53px;
  }
  .about-block {
    align-items: flex-start;
    margin-bottom: 25px;
  }
  .about-block__img::before {
    width: 150px;
    height: 134px;
    top: 0;
    transform: translateY(1%);
  }
  .about-block__text {
    padding-left: 180px;
  }
  .about__descr {
    width: 100%;
  }
  .about-box__text {
    padding: 10px 0 0;
  }
  .about__subtitle {
    margin-bottom: 20px;
  }
  .teachers {
    padding-bottom: 48px;
  }
  /* courses */
  .courses__title {
    margin-bottom: 24px;
  }
  .courses-box__bottom {
    padding: 27px 20px 30px 32px;
  }
  .courses-box__descr {
    margin-bottom: -1px;
  }
  .courses-box__btn {
    padding: 20.5px 48px;
    min-width: 180px;
  }
}
@media(max-width: 575px) {
	.container {
    max-width: 320px;
  }
	/* header */
	.header {
    padding-top: 25px;
    padding-bottom: 25px;
}
  .header-row {
    flex-direction: row;
    justify-content: space-between;
}
	.header-logo {
		padding: 0 0 0 15px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.header-logo__img {
		width: 72px;
		height: 16px;
	}
	.header__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    min-width: 250px;
    height: 98vh;
    z-index: 1000;
    padding: 50px;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
	}
  .stop-scroll {
    overflow: hidden;
  }
  .header__nav .list {
    flex-direction: column;
  }
  .header__nav .item {
    color: #000;
    font-size: 19px;
  }
  .header__nav .item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 56px;

  }
  .header__nav--active {
    visibility: visible;
    transform: none;
  }
  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
  }
  .burger__line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    transform: translate(-50%);
  }
  .burger--active .burger__line:nth-child(1) {
    left: 19%;
    top: 43%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }
  .burger--active .burger__line:nth-child(3) {
    bottom: auto;
    left: 19%;
    top: 43%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }
  .burger__line:nth-child(1) {
    top: 5px;
  }
  .burger__line:nth-child(2) {
    top: 48%;
    transform: translateX(-50%) translateY(-50%);
  }
  .burger__line:nth-child(3) {
    bottom: 7px;
  }
  /* hero */
  .hero {
    padding: 50px 0;
  }
  .blog-hero {
    padding-bottom: 0;
  }
  .blog-hero__title {
    margin-bottom: 6px;
    font-size: 30px;
  }
  .blog-hero__descr {
    width: 100%;
    margin-bottom: 44px;
    font-size: 16px;
    line-height: 130%;
  }
  .blog-hero__btn {
    padding: 20.5px 53.5px;
    min-width: 213px;
    font-size: 16px;
    line-height: 19px;
  }
  /* about */
  .about {
    padding-top: 50px;
    padding-bottom: 22px;
  }
  .about-block__img {
    display: none;
  }
  .about-block__text {
    padding-left: 0px;
  }
  .about__subtitle {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 130%;
  }
  .about-box {
    flex-direction: row;
    justify-content: center;
  }
  .about-box__text {
    padding: 1px 0 31px 30px;
  }
  /* teachers */
  .teachers {
    padding-top: 47px;
    padding-bottom: 20px;
  }
  .teachers__title {
    margin-bottom: 27px;
    font-size: 20px;
  }
  /* couses */
  .courses {
    padding-top: 46px;
  }
  .courses__title {
    margin-bottom: 27px;
    font-size: 20px;
    color: #2e2b44;
  }
  .courses-col:not(:last-child) {
    margin-bottom: 30px;
  }
  .courses-box__bottom {
    padding: 27px 22px 30px 31px;
  }
  .courses-box__descr {
    margin-bottom: 47px;
  }
  .courses-box__btn {
    padding: 20.5px 55.5px;
    min-width: 195px;
  }
}